.portfolio-item {
  padding: 30px 30px 30px 30\px;
  margin: 0;
  width: 600px;
  height: 650px;
}

.portfolio-item__content {
  height: 100%;
}

.portfolio-item__info {
  padding: 1rem;
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
  color: #d1e8e2;
}

.portfolio-item__info h2 {
color: #D9B08C;
}

.portfolio-item__image {
  width: 100%;
  height: 12.5rem;
  padding: 1.3rem 1.3rem 0rem 1.3rem ;
}

.portfolio-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item__info p {
  margin: 0 0 0.5rem 0;
  text-align: left;
}

.portfolio-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.portfolio-item__modal-content {
  padding: 0;
}

.portfolio-item__modal-actions {
  text-align: right;
}

.portfolio-item__actions button,
.portfolio-item__actions a {
  margin: 0.5rem;
}

.image-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .portfolio-item__image {
    height: 20rem;
  } 
}

.credentials {
  font-size: 0.8rem
}

