.about-item {
  margin: 1rem 0;
  list-style: none;
  padding: 0px 25px 0 25px;
}

.about-item__content {
  display: flex;
  flex-direction: row;
}

.about-item_data {
  display: flex;
  flex-direction: column;
}

.about-item__info {
  padding: 1rem;
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
  color: #d1e8e2;
}

.about-item__info h2 {
color: #D9B08C;
}

.about-item__image {
  width: 200px;
  height: 190px;
  padding: 0.3rem;
  border-radius: 1rem;
}

.about-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-item__info p {
  margin: 0 0 1rem 0;
  text-align: left;
}

.about-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.about-item__actions button{
  padding: 1rem;
  text-align: center;
  background-color: #116466;
  font-family: 'Tomorrow', sans-serif;
  color: #D9B08C;
  padding: 10px 24px;
}


.about-item__modal-content {
  padding: 0;
}

.about-item__modal-actions {
  text-align: right;
}

.about-item__actions button,
.about-item__actions a {
  margin: 0.5rem;
}

.image-container {
  height: 15rem;
  width: 100%;
}

.about-item__body {
  width: 100%;
  padding: 0% 0% 1% 0;
  background-color: #116466;
  border-radius: 0 0 15% 15%;
}

.about-item__body p {
  max-width: 550px;
  padding:10px;
  text-align: justify;
  padding: 4% 2% 0 5%;
  color: #d1e8e2;
  font-family: 'Tomorrow', sans-serif;
}

@media (min-width: 750) {
  .about-item__image {
    max-height: 20rem;
    max-width: 15rem;
  } 
}

@media (max-width: 400px) {
  .about-item__info {
    display: none;
  }

  .about-item__body p {
    max-width: 550px;
    padding:10px;
    text-align: justify;
    padding: 10% 5% 8% 5%;
    color: #d1e8e2;
  }
}