.header-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4% 15% 3% 20%;
  text-align: center;
  color: #d1e8e2;
  font-family: 'Tomorrow', sans-serif;
}

.header-info p {
  text-align: center;
  margin: 0;
}

@media (max-width: 1180px) {
  .header-info p {
    display: none;
  }
}

